@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  font-family: 'Inter', sans-serif;
}

canvas {
  touch-action: none;
}

/* Scrollbar hiding if needed */
::-webkit-scrollbar {
  display: none;
}