:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #110000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #110000;
}

#root {
  width: 100%;
  height: 100vh;
}

/* Leaflet Dark Mode Overrides */
.leaflet-container {
  background: #000 !important;
}

.leaflet-control-zoom a {
  background: #220000 !important;
  color: #ff0000 !important;
  border-color: #550000 !important;
}